<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="LOG_DIR" value="d:/work/billing/logs" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n
			</pattern>
		</encoder>
	</appender>

	<appender name="ERROR-FILE-LOG" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_DIR}/error/error.log</file>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{35} - %msg %n</pattern>
		</encoder>
	</appender>

	<appender name="INFO-FILE-LOG" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_DIR}/info/info.log</file>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{35} - %msg %n</pattern>
		</encoder>
	</appender>

	<logger name="by.intexsoft.billing" level="ERROR" additivity="false">
		<appender-ref ref="ERROR-FILE-LOG" />
	</logger>

<!--	<logger name="by.intexsoft.billing" level="INFO" additivity="false">
		<appender-ref ref="INFO-FILE-LOG" />
	</logger>-->

	<!-- By default, the level of the root level is set to DEBUG -->
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>